.navbar {
    background-color: #0077b6;
    text-align: center;
    padding: 15px 0;
    background-image: url('3.png'); /* Reemplaza 'ruta-de-tu-imagen.png' con la ruta de tu imagen de logo */
    background-size: 50px;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 10px center; /* Ajusta la posición del logo a la izquierda y centrado verticalmente */
  }
  
  /* Resto de tu CSS existente */
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 20px;
  }
  
  .navbar a:hover {
    color: #ff9900;
  }
  